

<!--<app-panel></app-panel>-->
<!--<router-outlet></router-outlet>-->
<app-file-upload></app-file-upload>
<!--<app-user-list></app-user-list>-->

<!--<div style="display: flex;justify-content: center;margin: 30px">-->
<!--  <input [(ngModel)]="name">-->
<!--  <button (click)="addUserToFireBase()">-->
<!--    <span *ngIf="!editMode">  add to fire base   </span>-->
<!--    <span *ngIf="editMode"> update user  </span>-->

<!--  </button>-->
<!--</div>-->

<!--<hr>-->

<!--<button (click)="getUsersList()">-->
<!--  refresh data-->
<!--</button>-->

<!--<div *ngFor="let item of userList" style="margin-left: 30px;display: flex;align-items: center">-->
<!--  <h2>{{item.name}}</h2>-->
<!--  <p (click)="deleteUser(item)" style="margin-left: 30px;color: darkred;cursor: pointer">delete</p>-->
<!--  <p (click)="editUser(item)" style="margin-left: 30px;color: chocolate;cursor: pointer">edit</p>-->
<!--  <br>-->
<!--</div>-->

<!--<button (click)="removeAllUsers()">-->
<!--  remove all users-->
<!--</button>-->
<!--<app-sign-in></app-sign-in>-->

<!--https://firebasestorage.googleapis.com/v0/b/first-task-samin.appspot.com/o/userFiles%2FScreenshot%20from%202022-11-02%2008-28-25.png?alt=media&-->


<!--https://firebasestorage.googleapis.com/v0/b/first-task-samin.appspot.com/o/-->
<!--userFiles%2Ftest%2FScreenshot%20from%202022-11-02%2008-28-48.png?alt=media&-->

<!--<app-file-upload></app-file-upload>-->
<!--<img [src]="'https://firebasestorage.googleapis.com/v0/b/first-task-samin.appspot.com/o/uploads%2FScreenshot%20from%202023-05-27%2021-23-31.png?alt=media&token=d1697e1f-4c21-40c3-99f7-20c3c4a52700'">-->
