<div style="display: flex;justify-content: center;margin-top: 80px">
  <div style="display: flex;justify-content: space-between;width: 80%">
    <div style="display: flex;justify-content: start">
      <mat-select placeholder="User Role" (selectionChange)="filterByRole($event)"
                  class="form-select" aria-label="Default select example"
                  [disabled]="disableFilter"
                  style="border-color: lightgrey;margin-right: 20px">
        <mat-option *ngFor="let item of accessLevels" [value]="item.id">{{item.title}}</mat-option>
      </mat-select>
      <input class="form-select" placeholder="Search" (keyup)="filterByName($event)" [(ngModel)]="term" [disabled]="disableFilter">
    </div>
    <div style="display: flex;justify-content: end">
      <button mat-raised-button color="primary" class="btn-block" (click)="openDialog()">Manage Users</button>
    </div>
  </div>
</div>
<div style="display: flex;justify-content: center;margin-bottom: 20px">
  <div style="display: flex;justify-content: space-between;width: 80%">
    <div style="display: flex;margin-right: 20px">
      <app-date-picker [label]="'select a date for filter'"
                       [disable]="disableFilter"
                       [acceptableMaxPreviousDay]="30"
                       [acceptableMaxNextDay]="0"
                       (selectedDate)="getSelectedDate($event)"
      ></app-date-picker>
    </div>
  </div>
</div>
<div *ngIf="loader" style="display: flex;justify-content: center;margin-top: 50px">
  <mat-spinner></mat-spinner>
</div>

<div style="display: flex;justify-content: center" *ngIf="!loader">
  <table mat-table [dataSource]="newDataSource" class="mat-elevation-z8" style="width: 80%!important"
         *ngIf="newDataSource.filteredData.length>0">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Display Name</th>
      <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="signUpTimeStamp">
      <th mat-header-cell *matHeaderCellDef>signUp Time</th>
      <td mat-cell *matCellDef="let element"> {{element.signUpTimeStamp | date: 'yyyy-MM-dd'}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">
        <mat-select placeholder="User Role" [(ngModel)]="element.accessLevel"
                    (selectionChange)="changeUsersRole($event,element)"
                    class="form-select2" aria-label="Default select example" style="border-color: lightgrey">
          <mat-option *ngFor="let item of accessLevels" [value]="item.id">{{item.title}}</mat-option>
        </mat-select>
      </td>
    </ng-container>


    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef>User Activity</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.isDisabled===false" style="color: darkgreen">face</mat-icon>
        <mat-icon *ngIf="element.isDisabled===true" style="color: darkred">face</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

<div style="display: flex;justify-content: center;margin-top: 20px"
     *ngIf="!loader && newDataSource.filteredData.length>0">
  <mat-paginator [pageSize]="5" [length]="totalElements" (page)="pagination($event)"
                 aria-label="Select page of users"></mat-paginator>
</div>

<div *ngIf="!loader && newDataSource.filteredData.length===0"
     style="display: flex;justify-content: center;margin-top: 50px">
  <h1> there isn't any data to display!!!
  </h1>
</div>


